.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 14rem;
    width: 12rem;
    cursor: pointer;
    border-top-left-radius: 4rem;
    background-color: var(--border-color);
    border-bottom: 0.4rem solid var(--primary-color);

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 1rem rgba(108, 62, 245, 0.3); /* glow roxo opcional */
}

.logo {
    font-size: 4.6rem;
}
