.containerMain {
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 60vh;
}

.titulo {
    font-size: 4rem;
}

.destaque {
    color: var(--primary-color);
}

.subtitulo {
    font-size: 2.6rem;
    color: rgb(179, 173, 173);
}

.img {
    width: 30rem; /* ajuste conforme necessário */
    height: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    border-radius: 50%;
}

.img:hover {
    transform: scale(1.2);
}

@media (max-width: 800px) {
    .img {
        width: 20rem;
    }
}
