.containerSobre {
    max-width: 102.4rem;
    margin: auto;
    padding: 2rem 4rem;

    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.containerSobre h3 {
    font-size: 3.2rem;
    text-align: center;
}

.containerSobre p {
    line-height: 1.6;
    font-size: 2rem;
    color: var(--text-secondary-color);
    text-align: center;
}
